@tailwind base;
@tailwind components;
@tailwind utilities;
.tab {
    margin-top: 0.3rem;
    text-align: center;
    font-size: 40px;
    width: 20%;
    font-weight: bold;
}
.dotted {
  background: white;
  background-image: radial-gradient(rgb(242,242,242) 3.5px, transparent 0);
  background-size: 7px 7px;
  background-position: -19px -19px;
}
